body{
    margin: 0;
    font-size: 1.5rem;
}

main{
    width: 99%;
    margin: auto;
}

.form input{
    width: 5rem;
    height: 1.5rem;
    font-size: 1.2rem;
}

.form button{
    width: 80%;
    margin: 10px auto;
    height: 3rem;
    font-size: 1.8rem;
}

.razval{
    padding: 20px 10px;
    height: 100vh;
}

.cast{
    height: 110vh;
}